.container
  b-form(@submit="onSubmit" @reset="onReset")
    b-form-group(id="exampleInputGroup1"
      label-for="exampleInput1"
    ) {{ $t('email') }}
      b-form-input(id="exampleInput1"
        type="email"
        v-model="form.email"
        required
        )
    b-form-group(id="exampleInputGroup2"
      label-for="exampleInput2"
    ) {{ $t('your-name') }}
      b-form-input(id="exampleInput2"
        type="text"
        v-model="form.name"
        required
        )
    b-form-group(id="exampleInputGroup3"
      label-for="exampleInput3"
    ) {{ $t('telephone') }}
      b-form-input(id="exampleInput3"
        type="tel"
        v-model="form.telephone"
        required
        )
    b-form-group(id="exampleInputGroup4"
      label-for="textarea1"
    ) {{ $t('comentary') }}
      b-form-textarea(id="textarea1"
        type="text"
        v-model="form.comentary"
        required
        :rows="3"
        :max-rows="6"
        )
    b-form-group(id="exampleGroup5")
      b-button.mx-2(type="submit" variant="primary") {{ $t('submit') }}
      b-button(type="reset" variant="success") {{ $t('reset') }}
