#contactForm.container
  b-alert(variant="danger", v-model="error", dismissible) {{ $t('serverError') }} {{ response}}
  b-alert(variant="success", v-model="success", dismissible) {{ $t('sucessfulServerResponse') }} {{ response }}
  wait-icon(:show="waiting")
  ValidationObserver(ref="observer" v-slot="{ invalid }")
    b-form(@reset="onReset", @submit.prevent="onSubmit")
      BTextInputWithValidation(
        vid="contactEmailInput",
        :label="`${$t('email')} :`",
        label-for="contactEmailInput"
        rules="required|email",
        type="email",
        :name="$t('email')",
        v-model="form.email",
        placeholder="Enter your email"
      )
      BTextInputWithValidation(
        vid="contactNameInput",
        :label="`${$t('name')} :`",
        label-for="contactNameInput"
        rules="required|min:3|max:50",
        type="text",
        :name="$t('name')",
        v-model="form.name",
        :placeholder="$t('name')"
      )
      BTextAreaInputWithValidation(
        vid="contactMsgInput",
        :label="`${$t('msg')} :`",
        label-for="contactMsgInput"
        rules="required|min:20|max:1000",
        type="text",
        rows="3",
        max-rows="6",
        aria-describedby="contactMsgInputFeedback",
        :name="$t('msg')",
        v-model="form.msg",
        :placeholder="$t('msg')"
      )
      b-form-group
        vue-recaptcha(
          :sitekey="recaptcha_key",
          @verify="onCaptchaVerified",
          @expired="onCaptchaExpired"
          ref="contactRecaptcha",
          size="invisible"
          :loadRecaptchaScript="true"
        )
        b-button.mx-2(:disabled="invalid",
          type="submit", variant="secondary"
          ) {{ $t('submit') }}
        b-button(type="reset", variant="primary") {{ $t('reset') }}
