.container
  b-form(@reset="onReset", @submit.prevent="onSubmit")
    b-form-group(label-for="emailInput") {{ $t('email') }}:
      b-form-input(
        id="contactEmailInput",
        :name="$t('email')"
        type="email",
        v-model="form.email",
        v-validate="'required|email'",
        :state="validateState($t('email'))",
        aria-describedby="contactEmailInputFeedback",
        placeholder="your@email.com",
        :class="{'input': true, 'is-danger': errors.has($t('email')) }"
        required
      )
      b-form-invalid-feedback#contactEmailInputFeedback
        small {{ errors.first($t('email')) }}
    b-form-group(label-for="nameInput") {{ $t('name') }}:
      b-form-input(
        id="contactNameInput",
        :name="$t('name')",
        type="text",
        v-model="form.name",
        v-validate="'required|min:3|max:25'",
        :state="validateState('name')",
        aria-describedby="contactNameInputFeedback",
        required
      )
      b-form-invalid-feedback#contactNameInputFeedback
        small {{ errors.first('name') }}
    b-form-group(label-for="phoneInput") {{ $t('phone') }}:
      b-form-input(
        id="contactPhoneInput",

        type="tel"
        v-model="form.phone"
      )
    b-form-group(label-for="msgInput") {{ $t('msg') }}:
      b-form-textarea(id="msgInput"
        type="text",
        v-model="form.msg",
        required,
        :rows="3",
        :max-rows="6"
        )
    b-form-group
      vue-recaptcha(
        sitekey="6LexHJIUAAAAAN904SFdAp3WMek6WX9jITYuoYC_",
        @verify="onCaptchaVerified",
        ref="recaptcha",
        size="invisible"
      )
      b-button.mx-2(:disabled="errors.any()",
        type="submit", variant="primary"
        ) {{ $t('submit') }}
      b-button(type="reset", variant="success") {{ $t('reset') }}
    div(v-cloak class="")
      div(v-show="status==='error'") {{ $t('serverError') }}
  div.successful-server-response-wrapper(v-cloak)
    div.successful-server-response(v-show="status==='success'") {{ $t('sucessfulServerResponse') }}
