.container
  b-form(@reset="onReset" @submit.prevent="submit")
    b-form-group(label-for="emailInput") {{ $t('email') }}
      b-form-input(id="emailInput"
        type="email"
        v-model="form.email"
        required
        )
    b-form-group(label-for="nameInput") {{ $t('name') }}
      b-form-input(id="nameInput"
        type="text"
        v-model="form.name"
        required
        )
    b-form-group(label-for="phoneInput") {{ $t('phone') }}
      b-form-input(id="phoneInput"
        type="tel"
        v-model="form.phone"
        required
        )
    b-form-group(label-for="msgInput") {{ $t('msg') }}
      b-form-textarea(id="msgInput"
        type="text",
        v-model="form.msg",
        required,
        :rows="3",
        :max-rows="6"
        )
    b-form-group
      vue-recaptcha(
        sitekey="6LexHJIUAAAAAN904SFdAp3WMek6WX9jITYuoYC_",
        @verify="onCaptchaVerified",
        ref="recaptcha",
        size="invisible"
      )
      b-button.mx-2(:disabled="status==='submitting'",
        type="submit", variant="primary"
        ) {{ $t('submit') }}
      b-button(type="reset", variant="success") {{ $t('reset') }}
    div(v-cloak class="")
      div(v-show="status==='error'") {{ $t('serverError') }}
  div.successful-server-response-wrapper(v-cloak)
    div.successful-server-response(v-show="status==='success'") {{ $t('sucessfulServerResponse') }}
