div
  b-card-group(deck)
    .row
      b-card(title="Insulators"
        img-src="https://picsum.photos/300/300/?image=10"
        img-alt="Img"
        img-top
        )
        p.card-text
          p.text This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
        b-button(to="/productsService/energy" variant="primary") See More
      b-card(title="Capacitor Banks"
        img-src="https://picsum.photos/300/300/?image=20"
        img-alt="Img"
        img-top
        )
        p.card-text
          p.text This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
        b-button(to="/productsService/industry" variant="primary") See More
      b-card(title="Connectors and Distribution Terminals"
        img-src="https://picsum.photos/300/300/?image=41"
        img-alt="Img"
        img-top
        )
        p.card-text
          p.text This is a wider card with supporting text below as a natural lead-in to additional content.
        b-button(to="/productsService/oil" variant="primary") See More
      b-card(title="Equipment and Accessories for Underground Networks"
        img-src="https://picsum.photos/300/300/?image=26"
        img-alt="Img"
        img-top
        )
        p.card-text
          p.text This card has supporting text below as a natural lead-in to additional content.
        b-button(to="/productsService/oil" variant="primary") See More
    .row
      b-card(title=" Fuses"
        img-src="https://picsum.photos/300/300/?image=11"
        img-alt="Img"
        img-top
        )
        p.card-text
          p.text This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
        b-button(to="/productsService/energy" variant="primary") See More
      b-card(title="Switches"
        img-src="https://picsum.photos/300/300/?image=24"
        img-alt="Img"
        img-top
        )
        p.card-text
          p.text This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
        b-button(to="/productsService/industry" variant="primary") See More
      b-card(title="Lighting rod"
        img-src="https://picsum.photos/300/300/?image=30"
        img-alt="Img"
        img-top
        )
        p.card-text
          p.text This is a wider card with supporting text below as a natural lead-in to additional content.
        b-button(to="/productsService/oil" variant="primary") See More
      b-card(title="Medium Voltage Regulators"
        img-src="https://picsum.photos/300/300/?image=7"
        img-alt="Img"
        img-top
        )
        p.card-text
          p.text This card has supporting text below as a natural lead-in to additional content.
        b-button(to="/productsService/oil" variant="primary") See More
