b-modal(
id="popup-wraper",
ref="modal",
title= "Smarensol Brochure",
@ok="handleOk",
@shown="clear"
)
  form(@submit.prevent="onSubmit")
    b-alert(variant="danger", v-model="error", dismissible) {{ $t('serverError') }}
    b-alert(variant="success", v-model="success", dismissible) {{ $t('sucessfulServerResponse') }}
    b-form-group#popupEmailInputGroup(label-for="popupEmailInput") {{ $t('email') }}:
      b-form-input#popupEmailInput(
      :name="$t('email')"
      type="email",
      v-model="form.email",
      v-validate="'required|email'",
      :state="validateState($t('email'))",
      aria-describedby="popupEmailInputFeedback",
      placeholder="your@email.com",
      required
      )
      b-form-invalid-feedback#popupEmailInputFeedback
        small {{ errors.first($t('email')) }}
    b-form-group(label-for="popupNameInput") {{ $t('name') }}:
      b-form-input#popupNameInput(
      :name="$t('name')",
      type="text",
      v-model="form.name",
      v-validate="'required|min:3|max:50'",
      :state="validateState($t('name'))",
      aria-describedby="popupNameInputFeedback",
      placeholder='Juan Aguilar',
      required
      )
      b-form-invalid-feedback#popupNameInputFeedback
        small {{ errors.first($t('name')) }}
    vue-recaptcha(
      :sitekey="recaptcha_key",
      @verify="onCaptchaVerified",
      @expired="onCaptchaExpired"
      ref="popupRecaptcha",
      size="invisible"
    )
